a{
    text-decoration: none;
    font-family: $montserrat;
    font-size: 1rem;
    color: inherit;
}
figure{
    /* ALWAYS */
    padding: 0px;
    margin: 0px;
}
ul{
    list-style-type: none;
    padding: 0px;
}