@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
$font-HammersmithOne: 'Hammersmith One', sans-serif;


/* ---------------------------------------- */

/* == Formatage du texte*/

/*---------------------------------------- */
    $extrabold:700;
    $bold: 600;
