/* ---------------------------------------- */

/* ==          COLOR CODES               */

/*---------------------------------------- */
/* DEBUT USE*/
$color-pinegreen :#007c76;
$color-calypso :#2e6d8e;
$color-green :#00c900;
$color-gray :#818181;
$color-white: white;
$color-black: black;
/* Fin USE*/