
    //Clothes
        $landerpage:"../images/landerpage.webp";
        /* Nos services */
        $siteetapplication:"../images/services/siteetapplication.jpg";
        $designgraphique:"../images/services/designgraphique.jpg";
        /* Nos réalisations*/
        $einformatique:"../images/realisations/einformatique.jpg";
        $quiz:"../images/realisations/quiz.jpg";
        $essupke:"../images/realisations/essupke.jpg";
        $kakushin:"../images/realisations/kakushin.jpg";
        /* Notre équipe */
        $graphismeetdesign:"../images/equipes/graphismeetdesign.jpg";
        $developpeurapplication:"../images/equipes/developpeurapplication.jpg";
        $communication:"../images/equipes/communication.jpg";
        /* Contact */
        $contact:"../images/contact.jpg";
 