
/* ---------------------------------------- */

/* ==          VARIABLES              */

/*---------------------------------------- */
/* DEBUT USE*/
$width-web-apropos:25vw;
$width-tablet-apropos:35vw;
$width-laptop-apropos:45vw;
$width-mobile-apropos:96vw;
$width-mobile:100vw;
$width-web-mescompetences:35vw;
$width-tablet-mescompetences:45vw;
$width-laptop-mescompetences:55vw;
/* FIN USE*/

$thedirection:to;
$totop:top;
$tobottom:bottom;
$toright:right;
$toleft:left;
$toright: right;
 /* */
 $direction_right: $thedirection $toright;
 $green_zero : $color-green 0%;
 $green_cent: $color-green 100%;

/* ---------------------------------------- */

/* ==          MIXIN              */

/*---------------------------------------- */

/* DEBUT USE*/
@mixin borderhover($color) {
    border-top: solid $color 3px;
}
@mixin linearGradient(){
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9db80+0,42d17f+97 */
background: #a9db80; /* Old browsers */
background: -moz-linear-gradient(45deg,  #a9db80 0%, #42d17f 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #a9db80 0%,#42d17f 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #a9db80 0%,#42d17f 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#42d17f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin linearGradien($direction, $coloranddirectionone,$coloranddirectiontwo) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($direction), color-stop($coloranddirectionone),to($coloranddirectiontwo));
    background-image: linear-gradient($direction, $coloranddirectionone,$coloranddirectiontwo);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
//
    @mixin border($thedirection,$thevalue) {
        $border: calc((#{$thevalue} - 100px)/2) solid $color-ironsidegray;
        @if $thedirection==left 
        {
            border-left: $border;
        }@else{
            border-right: $border;
        }
    }
    @mixin circle($value) {
        height: $value;
        width: $value;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    @mixin background($img) { //USE
        background: url($img);
        background-repeat: no-repeat;
        background-position: top 1px right 0px;
        background-size: cover;
        overflow: none;
    }
    @mixin scaleY($value) { //USE
        -webkit-transform: scaleY($value);
            -moz-transform: scaleY($value);
            -ms-transform: scaleY($value);
            -o-transform: scaleY($value);
    }
    @mixin transformrotateY($value) { //USE
        -webkit-transform: rotateY($value);
            -moz-transform: rotateY($value);
            -ms-transform: rotateY($value);
            -o-transform: rotateY($value);
    }
/* FIN USE*/
/* ---------------------------------------- */

/* ==          PLACEHOLDER              */

/*---------------------------------------- */
%pseudoelements{
    content: "";
    display: block;
}
%souligne{
    content: "";
    width: 100%;
    display: inline-block;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1000ms ease-in-out;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition: transform 1000ms ease-in-out;
    -moz-transition: transform 1000ms ease-in-out;
    -ms-transition: transform 1000ms ease-in-out;
    -o-transition: transform 1000ms ease-in-out;
}
%hoversouligne{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
/* ---------------------------------------- */

/* ==          MAP              */

/*---------------------------------------- */
$breakpoints: (
    desktop: '1025px',
    laptop: '1024px',
    end-laptop: '800px',
    mobile-mobile:  '700px',
    final-mobile:  '300px',
);
/* ---------------------------------------- */

/* ==          MIXIN              */

/*---------------------------------------- */
@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin laptop-only {
    @media screen and (max-width: map-get($breakpoints, laptop)){
        @content;
    }
}
@mixin begin-tablet {
    @media screen and (max-width: map-get($breakpoints, end-laptop))
                  and (min-width: map-get($breakpoints, start-tablet)){
        @content;
    }
}
@mixin mobile-mobile {
    @media screen and (max-width: map-get($breakpoints, mobile-mobile)){
        @content;
    }
}
@mixin final-only {
    @media screen and (max-width: map-get($breakpoints, final-mobile)){
        @content;
    }
}