/* ---------------------------------------- */

/* ==          BODY            */

/*---------------------------------------- */
body{
    margin:0px;
    padding:0px;
    font-family: $montserrat;
    color: $color-white;
}
