/* ---------------------------------------- */

/* ==            HEADER               */

/*---------------------------------------- */
    /* MENUS */
        .barredenavigation{
            background-color: $color-pinegreen;
            display: flex;
            padding: 10px 0px 0px 0px;
            position: fixed;
            z-index: 1;
            top:0px;
            justify-content: space-between;
            min-width: 100vw;
            & figure{
                margin-left: 50px;
            }
            .logo{
                height: 50px;
            }
            & ul{
                display: flex;
                list-style-type: none;
                margin-right: 100px;
                & a{
                    margin-left: 50px;
                    &::after{
                        @extend %souligne;
                        @include borderhover($color-white);
                    }
                    &:hover::after{
                        @extend %hoversouligne;
                    }
                }
            }
        }
    /* LANDERPAGE */
        .landerpage{
            @include background($landerpage);
            top:0px;
            height: 100vh;
            width: 100%;
            padding: 0px;
            margin: 0px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            & h1{
                text-transform: uppercase;
                & .name{
                    font-size: 50px;
                    letter-spacing: 10px;
                }
                & .slogan{
                    display: block;
                    margin-top: 25px;
                    font-size: 20px;
                    letter-spacing: 20px;
                }
            }
        }
/* ---------------------------------------- */

/* ==            ASIDE               */

/*---------------------------------------- */
.atouts{
    background-color: $color-white;
    margin-top: 100vh;
    ul{
        list-style-type: none;
        &, & figure{
            display: flex;
            justify-content: center;
        }
        & figure {
            width: 20vw;
            padding: 50px 50px;
            flex-direction: column;
            align-items: center;
            & .circle{
                margin-bottom: 10px;
                display: flex;
                @include circle(100px);
                background-color: $color-pinegreen;
                justify-content: center;
                align-items: center;
                & i{
                    font-size: 40px;
                }
            }
            & .title{
                display: block;
                text-transform: uppercase;
                font-size: 15px;
                margin: 10px 0px;
                font-weight: bolder;
                color:$color-green;
            }
            & .description{
                color:$color-black;
            }
        }
    }
}

/* ---------------------------------------- */

/* ==            ARTICLE               */

/*---------------------------------------- */
.services_realisations_equipe{
    & .htitle{
        margin: -20px 0px -10px;
        background-color: $color-gray;
        padding: 20px;
    }
    & ul{
        list-style-type: none;
        margin-bottom: 25px;
        &.nosservices{
            & figure {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                background-color: $color-pinegreen;
                & .siteetapplication, & .designgraphique {
                    display: block;
                    width: 48vw;
                    height: 48vh;
                }
                & .siteetapplication {
                    @include background($siteetapplication);
                }
                & .designgraphique {
                    @include background($designgraphique);
                }
                & figcaption{
                    width: 48vw;
                    padding: 10px;
                    text-align: justify;
                    & .title{
                        display: block;
                        font-size: 20px;
                        font-weight: bolder;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 10px 20px 30px;
                    }
                }
                
            }
        }
        &.nosrealisations{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            & figure{
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                width: 20vw;
                & .imgdesc{
                    display: block;
                    width: 20vw;
                    height: 25vw;
                }
                & .einformatique {
                    @include background($einformatique);
                }
                & .quiz {
                    @include background($quiz);
                }
                & .essupke {
                    @include background($essupke);
                }
                & .kakushin {
                    @include background($kakushin);
                }
                & figcaption{
                    & .title{
                        display: block;
                        margin: 20px 0px 10px;
                        color: $color-calypso;
                        text-transform: uppercase;
                        word-break: break-all;
                        height: 40px;
                    }
                    & .description{
                        color: $color-black;
                        display: block;
                        text-align: justify;
                        margin-bottom: 50px;
                    }
                }
            }
        }
        &.notreequipe{
            display: flex;
            justify-content: space-around;
            & li{
                width: 32vw;
                background-color: $color-pinegreen;
                & figure{
                    margin-top: 25px;
                    display: flex;
                    flex-direction: column;
                    & .imgdesc{
                        display: block;
                        width: 32vw;
                        height: 25vw;
                    }
                    & .graphismeetdesign {
                        @include background($graphismeetdesign);
                    }
                    & .developpeurapplication {
                        @include background($developpeurapplication);
                    }
                    & .communication {
                        @include background($communication);
                    }
                    & figcaption{
                        text-align: justify;
                        padding: 10px;
                        margin: 25px 0px 15px;
                    }
                }
            }
        }
    }
    & .someparagraphe{
        padding: 10px;
        text-align: justify;
        font-weight: bold;
        color: $color-black;
    }
}

/* ---------------------------------------- */

/* ==            CONTACT               */

/*---------------------------------------- */
.contact{
    .formulairecontact{
        @include background($contact);
        padding-top: 5px;
        & table{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            & input{
                width: 20vw;
                display: block;
                height:25px;
                padding-left: 20px;
                margin:0px 0px 25px 25px;
            }
            & input[type="submit"]{
                text-align: center;
                height: 30px;
                padding: 0px;
                background-color: $color-pinegreen;
                color: $color-white;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
            & textarea{
                width: 20vw;
                padding-left: 20px;
                height: 80px;
                margin:0px 0px 25px 25px;
            }
        }
    }
    & nav{
        @include linearGradient();
        padding: 50px 0px;
        & h3{
            margin-bottom: 50px;
            font-style: italic;
        }
        & ul{
            display: flex;
            justify-content: center;
            & li{
                @include circle(50px);
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px $color-white;
                background-color: transparent;
                margin-left: 20px;
                & i{
                    font-weight: 400;
                    font-size: 25px;
                }
            }
            
        }
    }
    & footer{
        background-color: $color-pinegreen;
        display: flex;
        justify-content: space-around;
        padding: 30px 0px 100px;
        & figure{
            display: flex;
            & i{
                font-size: 50px;
                &.fa-envelope {
                    font-size: 40px;
                }
            }
            & figcaption{
                margin-left: 30px;
            }
            & .title{
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
                text-align: left;
            }
            & a{
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}



/* ---------------------------------------- */

/* ==            MES COMPETENCES                */

/*---------------------------------------- */

