@charset "UTF-8";
/* ---------------------------------------- */
/* ==          COLOR CODES               */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          COLOR CODES               */
/*---------------------------------------- */
/* DEBUT USE*/
/* Fin USE*/
/* ---------------------------------------- */
/* == Texte*/
/*---------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
/* ---------------------------------------- */
/* == Formatage du texte*/
/*---------------------------------------- */
/* ---------------------------------------- */
/* == Comportements de bases des balises htmk*/
/*---------------------------------------- */
a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: inherit;
}

figure {
  /* ALWAYS */
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

/* ---------------------------------------- */
/* ==          ANIMATIONS              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          ANIMATIONS              */
/*---------------------------------------- */
@-webkit-keyframes loadpoint {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}
@keyframes loadpoint {
  0% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}
@-webkit-keyframes headshake {
  25% {
    -webkit-transform: translateX(4%);
    -moz-transform: translateX(4%);
    -ms-transform: translateX(4%);
    -o-transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
    -webkit-transform: translateX(-4%);
    -moz-transform: translateX(-4%);
    -ms-transform: translateX(-4%);
    -o-transform: translateX(-4%);
  }
}
@keyframes headshake {
  25% {
    -webkit-transform: translateX(4%);
    -moz-transform: translateX(4%);
    -ms-transform: translateX(4%);
    -o-transform: translateX(4%);
  }
  75% {
    transform: translateX(-4%);
    -webkit-transform: translateX(-4%);
    -moz-transform: translateX(-4%);
    -ms-transform: translateX(-4%);
    -o-transform: translateX(-4%);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* ---------------------------------------- */
/* ==          Fonctions              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          Fonctions              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          VARIABLES              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          VARIABLES              */
/*---------------------------------------- */
/* DEBUT USE*/
/* FIN USE*/
/* */
/* ---------------------------------------- */
/* ==          MIXIN              */
/*---------------------------------------- */
/* DEBUT USE*/
/* FIN USE*/
/* ---------------------------------------- */
/* ==          PLACEHOLDER              */
/*---------------------------------------- */
.barredenavigation ul a::after {
  content: "";
  width: 100%;
  display: inline-block;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1000ms ease-in-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transition: transform 1000ms ease-in-out;
  -moz-transition: transform 1000ms ease-in-out;
  -ms-transition: transform 1000ms ease-in-out;
  -o-transition: transform 1000ms ease-in-out;
}

.barredenavigation ul a:hover::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

/* ---------------------------------------- */
/* ==          MAP              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          MIXIN              */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          IMAGES              */
/*---------------------------------------- */
/* Nos services */
/* Nos réalisations*/
/* Notre équipe */
/* Contact */
/* ---------------------------------------- */
/* ==          BODY            */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==          BODY            */
/*---------------------------------------- */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* ---------------------------------------- */
/* ==            SECTION                */
/*---------------------------------------- */
/* ---------------------------------------- */
/* ==            HEADER               */
/*---------------------------------------- */
/* MENUS */
.barredenavigation {
  background-color: #007c76;
  display: flex;
  padding: 10px 0px 0px 0px;
  position: fixed;
  z-index: 1;
  top: 0px;
  justify-content: space-between;
  min-width: 100vw;
}
.barredenavigation figure {
  margin-left: 50px;
}
.barredenavigation .logo {
  height: 50px;
}
.barredenavigation ul {
  display: flex;
  list-style-type: none;
  margin-right: 100px;
}
.barredenavigation ul a {
  margin-left: 50px;
}
.barredenavigation ul a::after {
  border-top: solid white 3px;
}
/* LANDERPAGE */
.landerpage {
  background: url("../images/landerpage.webp");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
  top: 0px;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landerpage h1 {
  text-transform: uppercase;
}
.landerpage h1 .name {
  font-size: 50px;
  letter-spacing: 10px;
}
.landerpage h1 .slogan {
  display: block;
  margin-top: 25px;
  font-size: 20px;
  letter-spacing: 20px;
}

/* ---------------------------------------- */
/* ==            ASIDE               */
/*---------------------------------------- */
.atouts {
  background-color: white;
  margin-top: 100vh;
}
.atouts ul {
  list-style-type: none;
}
.atouts ul, .atouts ul figure {
  display: flex;
  justify-content: center;
}
.atouts ul figure {
  width: 20vw;
  padding: 50px 50px;
  flex-direction: column;
  align-items: center;
}
.atouts ul figure .circle {
  margin-bottom: 10px;
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #007c76;
  justify-content: center;
  align-items: center;
}
.atouts ul figure .circle i {
  font-size: 40px;
}
.atouts ul figure .title {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  margin: 10px 0px;
  font-weight: bolder;
  color: #00c900;
}
.atouts ul figure .description {
  color: black;
}

/* ---------------------------------------- */
/* ==            ARTICLE               */
/*---------------------------------------- */
.services_realisations_equipe .htitle {
  margin: -20px 0px -10px;
  background-color: #818181;
  padding: 20px;
}
.services_realisations_equipe ul {
  list-style-type: none;
  margin-bottom: 25px;
}
.services_realisations_equipe ul.nosservices figure {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: #007c76;
}
.services_realisations_equipe ul.nosservices figure .siteetapplication, .services_realisations_equipe ul.nosservices figure .designgraphique {
  display: block;
  width: 48vw;
  height: 48vh;
}
.services_realisations_equipe ul.nosservices figure .siteetapplication {
  background: url("../images/services/siteetapplication.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosservices figure .designgraphique {
  background: url("../images/services/designgraphique.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosservices figure figcaption {
  width: 48vw;
  padding: 10px;
  text-align: justify;
}
.services_realisations_equipe ul.nosservices figure figcaption .title {
  display: block;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 20px 30px;
}
.services_realisations_equipe ul.nosrealisations {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.services_realisations_equipe ul.nosrealisations figure {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.services_realisations_equipe ul.nosrealisations figure .imgdesc {
  display: block;
  width: 20vw;
  height: 25vw;
}
.services_realisations_equipe ul.nosrealisations figure .einformatique {
  background: url("../images/realisations/einformatique.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosrealisations figure .quiz {
  background: url("../images/realisations/quiz.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosrealisations figure .essupke {
  background: url("../images/realisations/essupke.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosrealisations figure .kakushin {
  background: url("../images/realisations/kakushin.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.nosrealisations figure figcaption .title {
  display: block;
  margin: 20px 0px 10px;
  color: #2e6d8e;
  text-transform: uppercase;
  word-break: break-all;
  height: 40px;
}
.services_realisations_equipe ul.nosrealisations figure figcaption .description {
  color: black;
  display: block;
  text-align: justify;
  margin-bottom: 50px;
}
.services_realisations_equipe ul.notreequipe {
  display: flex;
  justify-content: space-around;
}
.services_realisations_equipe ul.notreequipe li {
  width: 32vw;
  background-color: #007c76;
}
.services_realisations_equipe ul.notreequipe li figure {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.services_realisations_equipe ul.notreequipe li figure .imgdesc {
  display: block;
  width: 32vw;
  height: 25vw;
}
.services_realisations_equipe ul.notreequipe li figure .graphismeetdesign {
  background: url("../images/equipes/graphismeetdesign.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.notreequipe li figure .developpeurapplication {
  background: url("../images/equipes/developpeurapplication.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.notreequipe li figure .communication {
  background: url("../images/equipes/communication.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
}
.services_realisations_equipe ul.notreequipe li figure figcaption {
  text-align: justify;
  padding: 10px;
  margin: 25px 0px 15px;
}
.services_realisations_equipe .someparagraphe {
  padding: 10px;
  text-align: justify;
  font-weight: bold;
  color: black;
}

/* ---------------------------------------- */
/* ==            CONTACT               */
/*---------------------------------------- */
.contact .formulairecontact {
  background: url("../images/contact.jpg");
  background-repeat: no-repeat;
  background-position: top 1px right 0px;
  background-size: cover;
  overflow: none;
  padding-top: 5px;
}
.contact .formulairecontact table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.contact .formulairecontact table input {
  width: 20vw;
  display: block;
  height: 25px;
  padding-left: 20px;
  margin: 0px 0px 25px 25px;
}
.contact .formulairecontact table input[type=submit] {
  text-align: center;
  height: 30px;
  padding: 0px;
  background-color: #007c76;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact .formulairecontact table textarea {
  width: 20vw;
  padding-left: 20px;
  height: 80px;
  margin: 0px 0px 25px 25px;
}
.contact nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9db80+0,42d17f+97 */
  background: #a9db80;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #a9db80 0%, #42d17f 97%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #a9db80 0%, #42d17f 97%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #a9db80 0%, #42d17f 97%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a9db80", endColorstr="#42d17f",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 50px 0px;
}
.contact nav h3 {
  margin-bottom: 50px;
  font-style: italic;
}
.contact nav ul {
  display: flex;
  justify-content: center;
}
.contact nav ul li {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  background-color: transparent;
  margin-left: 20px;
}
.contact nav ul li i {
  font-weight: 400;
  font-size: 25px;
}
.contact footer {
  background-color: #007c76;
  display: flex;
  justify-content: space-around;
  padding: 30px 0px 100px;
}
.contact footer figure {
  display: flex;
}
.contact footer figure i {
  font-size: 50px;
}
.contact footer figure i.fa-envelope {
  font-size: 40px;
}
.contact footer figure figcaption {
  margin-left: 30px;
}
.contact footer figure .title {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.contact footer figure a {
  display: block;
  margin-bottom: 10px;
}

/* ---------------------------------------- */
/* ==            MES COMPETENCES                */
/*---------------------------------------- */

/*# sourceMappingURL=style.css.map */
